<div class="row">
  <div class="well well-lg col-lg-8 col-md-8">
    <div class="col-lg-12 col-md-12 ml-auto mr-auto">
      <h1>Редактирование события</h1>

        <%= render 'form' %>

    </div>
  </div>
</div>
