.event-info {
    position: relative;
    color: white;
    overflow: hidden;
    margin-bottom: 20px;
}

.event-background {
    position: absolute;
    width: 100%;
    z-index: -1;

    top: 0; bottom: 0;
    left: 0; right: 0;

    background-size: cover;
    background-position: center;

    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}

.event-description * {
    color: white;
}

.event-description a {
    color: #d0d0ff;
}

.event-description small {
    color: #e0e0e0;
}

.event-info-inner {
    background:rgba(0, 0, 0, 0.4);
}

.event-map {
    position: relative;
    z-index: 1;
    width: 98%;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    background: #333;
    color: #fff;
}

.event-map2 {
    position: sticky;
    z-index: 2;
    padding: 0px 40px;
    width: 98%;
    height: 80%;
}

.event-info-upper {
    background:rgba(0, 0, 0, 0.4);
}

.event-info-bottom {
    background:rgba(0, 0, 0, 0.4);
}

.users {
    color: darkseagreen;
}
